html, body {
	height: 100%;
}

.jumbotron {
	background-color: #AA3939;
	color: white;
}

.card-header {
	background-color: #FFB77B;
}

.input-card {
	padding: 10px;
}

.footer {
	min-height: 10%;
	overflow: auto;
	background-color: #AA3939;
}

.footerContainer {
	font-size: 10px;
	color: white;
	/*padding: 5px;*/
}

.container {
	min-height: 90%;
	margin-bottom: 30px;
}

td {
	text-align: center;
}